.header {
	top:20px;
}

.main {
	padding-top: 100px;
}

.posLeft {
	margin-left:-66%;
}

.posCenter {
	margin-left:33%;
}
@font-face {
	font-family: BarlowCondensed;
	 src: url("BarlowCondensed-Regular.ttf");
   }
@font-face {
	font-family: BebasNeue;
	 src: url("BebasNeue-Regular.ttf");
   }
   * {
    box-sizing: border-box;
  }